#home {
	background: rgb(8, 160, 255);
	color: white;
	padding-top: 60px;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

.navbar-dark .navbar-toggler {
	color: white;
	border-color:rgba(0, 0, 0, 0);
}

.divisor {
	width: 1px;
	background-color: white;
	margin: 12px 15px;
}

/*=================Estrutura de Conteúdos================*/
#serviços {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 30px;
}

#serviços h2,h3 {
	color: rgb(8, 160, 255);
}

#serviços h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#saiba-mais {
	background-color: rgb(8, 160, 255);
}

#saiba-mais h2{
	color: white;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#saiba-mais p{
	color: white;
}



.cursos {
	padding: 10px 0;
}

/*=================Rodapé===================*/
footer {
	background-color: black;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #888ff3;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0px 5px;
}

footer #logo {
	padding-bottom: 30px;
}

/*=================Tipografia===================*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	h1 {
		padding-top: 20px;
		font-size: 2em;
	}
	#saiba-mais h2{
		font-size: 2em;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 2.2em;
	}
	#saiba-mais h2{
		font-size: 2.5em;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 2.5em;
	}
	#saiba-mais h2{
		font-size: 3em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 3.0em;
	}
	#saiba-mais h2{
		font-size: 2.9em;
	}
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 3.5em;
	}
	#saiba-mais h2{
		font-size: 3.2em;
	}

}